{% extends "DellaertWebappDeploymentBundle::layout.html.twig" %}

{% block content %}
	{% if entity %}
		<script type="text/javascript">
			function confirmDelete() {
				if( confirm('Are you sure you want to delete this application template parameter?') ) {
					window.location = "{{ path('ApplicationTemplateParameterDelete',{ 'id': entity.id }) }}";
				}
			}
		</script>
		<div id="entitybuttons"><a href="{{ path('ApplicationTemplateParameterEdit',{ 'id': entity.id }) }}" class="button left">Edit</a><a href="javascript:confirmDelete()" class="button right">Delete</a></div>
		<h1>Application template parameter: {{ entity.name }}</h1>
		<table cellspacing="0">
			<tr>
				<th>Name</th>
				<td>{{ entity.name }}</td>
				<th>Password</th>
				<td>{% if entity.isPassword %}Yes{% else %}No{% endif %}</td>
			</tr>
		</table>
	{% else %}
		<h1>Unknown application template parameter</h1>
		<p>The specified application template parameter is not available.</p>
	{% endif %}
{% endblock %}