{% extends "DellaertWebappDeploymentBundle::layout.html.twig" %}

{% block content %}
    <div id="entitybuttons"><a href="{{ path('APIKeyAdd') }}" class="button add">Add</a></div>
    <h1>Companies</h1>
    <script type="text/javascript">
	    $(function() {
	    	$(".entitytable").flexigrid({
	        	url: '{{ path('APIKeyListData') }}',
	            dataType: 'json',
	            colModel : [
	                {display: 'Name', name : 'name', width : 290, sortable : true, align: 'left'},
	                {display: 'Key', name : 'apikey', width : 200, sortable : true, align: 'left'}
	            ],
	            searchitems : [
	                {display: 'Name', name : 'name', isdefault: true},
	                {display: 'City', name : 'city'}
	            ],
	            sortname: "name",
	            sortorder: "asc",
	            usepager: true,
	            useRp: true,
	            rp: 20,
	            showTableToggleBtn: false,
	            showToggleBtn: false,
	            resizable: false,
	            width: 808,
	            height: 'auto',
	            singleSelect: true
	        });
		});

	    $('.flexigrid tr[id*="row"]').live('click', function(){
	    	window.location = '{{ path('APIKeyList') }}' + $(this).attr('id').substr(3);
	    });
    </script>
    
    <table class="entitytable"></table> 
{% endblock %}
